@model BeautyCentersProject.ViewModel.servicsListViewModel

@{
    ViewBag.Title = "services";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList serviceList = new SelectList(Model.services,"ID", "Name");
}

<h2>services</h2>

@using (Html.BeginForm("services","Account",FormMethod.Post@*, new { onsubmit="sendData(event)"}*@))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-5" style="float:right !important">

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@for (int i = 0; i < Model.ServiceList.Count; i++)
                {
                    <div class="form-group">
                        @Html.CheckBoxFor(m => Model.ServiceList[i].IsChecked,new { id=Model.ServiceList[i].ID})
                        <label for="@Model.ServiceList[i].ID">@Model.ServiceList[i].Name</label>
                        @Html.HiddenFor(m => Model.ServiceList[i].ID) @Html.HiddenFor(m => Model.ServiceList[i].Name)
                    </div>
                }
                @foreach (var service in Model.ServiceList)
                {
                    <div class="form-group">
                        @Html.LabelFor(m=>m.ServiceList.FirstOrDefault().Name)
                        @Html.CheckBoxFor(m => m.ServiceList.FirstOrDefault().IsChecked)
                        @Html.HiddenFor(m=> m.ServiceList.FirstOrDefault().ID)
                        <input type="checkbox" value="@service.ID" name="@service.Name" id="@service.Name" onclick="addServices(this,@service.ID)"/>
                        <label for="@service.Name">@service.Name</label>
                    </div>
                }*@
                <div class="form-group">
                    @Html.Label("اختر الخدمة", htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ServiceList.FirstOrDefault().serviceID, serviceList,"اختر الخدمة", new { @class = "form-control",onchange = "dropChange(this)" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description" class="col-md-5">وصف للخدمة</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="3" name="Description" id="Description"></textarea>
                    </div>
                    <label for="Price" class="col-md-5">سعر الخدمة</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" id="Price" name="Price" autocomplete="off" />
                    </div>
                    <label for="EstimatedTime" class="col-md-5">مدة الخدمة ( بالدقائق )</label>
                    <div class="col-md-10">
                        <input class="form-control" type="number" id="EstimatedTime" name="EstimatedTime" autocomplete="off" />
                    </div>
                    <label for="image" class="col-md-5">صورة للخدمة</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="image" name="image" accept='image/*' autocomplete="off"/>
                    </div>
                    <div class="col-md-10">
                        <button id="addBtn" class="btn btn-primary" onclick="addService()">إضافة</button>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

        <div id="services" class="col-md-6" style="float:right !important">
            <table id="table" class="table table-striped">
                <thead id="table-head">
                    <tr>
                        <th class="text-right">رقم الخدمة</th>
                        <th class="text-right">الخدمة</th>
                        <th class="text-right">سعرها</th>
                        <th class="text-right">وصفها</th>
                        <th class="text-right">مدة الخدمة</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    
                </tbody>
            </table>
            <button class="btn btn-success" onclick="sendServices()">تأكيد حفظ الخدمات</button>
        </div>
    </div>
}


@section scripts{
    
    <script>
        var selectedServiceName;
        var selectedServiceID = 0;
        
        var serviceList = new Array();

        function dropChange(e) {
            console.log(e.value);
            selectedServiceID = e.value;
            console.log(e.options[e.selectedIndex].text);
            selectedServiceName = e.options[e.selectedIndex].text;

        }

        function addService() {
            "use strict";
            event.preventDefault();
            var selectedPrice = document.getElementById("Price").value;
            var selectedDescription = document.getElementById("Description").value;
            var selectedEstimatedTime = document.getElementById("EstimatedTime").value;
            var selectedImage = document.getElementById("image").value;
            if (selectedServiceID == 0) {
                alert("من فضلك اختر الخدمة");
                return false;
            }
            if (document.getElementById("Description").value == "") {
                alert("من فضلك ادخل وصف للخدمة");
                return false;
            }

            if (document.getElementById("Price").value == "" || document.getElementById("Price").value <= 0) {
                alert("من فضلك ادخل سعر الخدمة صحيحا");
                return false;
            }
            if (document.getElementById("EstimatedTime").value == "" || document.getElementById("EstimatedTime").value <= 0) {
                alert("من فضلك ادخل وقت الخدمة صحيحا");
                return false;
            }
            
            if (document.getElementById("image").value == "") {
                alert("من فضلك اختر صورة للخدمة");
                return false;
            }

            var rows = document.getElementsByTagName("tr");
            for (var i = 1; i < rows.length; i++) {
                var cellID = rows[i].cells[0].innerHTML;
                if (selectedServiceID == cellID) {
                    alert("هذه الخدمة تم إضافتها بالفعل")
                    return false;
                }
            }
            var tableBody = document.getElementById("table-body");
            var serviceID = document.createElement("td");
            var serviceName = document.createElement("td");
            var servicePrice = document.createElement("td");
            var serviceDescription = document.createElement("td");
            var serviceTime = document.createElement("td");
            var serviceDelete = document.createElement("td");
            var row = document.createElement("tr");

            serviceID.innerHTML = selectedServiceID;
            serviceName.innerHTML = selectedServiceName;
            servicePrice.innerHTML = selectedPrice;
            serviceDescription.innerHTML = selectedDescription;
            serviceTime.innerHTML = selectedEstimatedTime;
            serviceDelete.innerHTML = "<button class=btn btn-default id= delete onclick=deleteService(this)>حذف</button>";

            row.appendChild(serviceID);
            row.appendChild(serviceName);
            row.appendChild(servicePrice);
            row.appendChild(serviceDescription);
            row.appendChild(serviceTime);
            row.appendChild(serviceDelete);

            tableBody.appendChild(row);
            var dropdown = document.getElementById("serviceID");
            dropdown.selectedIndex = 0;
            document.getElementById("Price").value = "";
            document.getElementById("Description").value = "";
            document.getElementById("EstimatedTime").value = "";
            document.getElementById("image").value = "";

            //for (var i = 0; i < arrOfService.length; i++) {
            //    arrOfService.pop();
            //}
            var arrOfService = new Array();

            arrOfService.push(selectedServiceID);
            arrOfService.push(selectedServiceName);
            arrOfService.push(selectedDescription);
            arrOfService.push(selectedPrice);
            arrOfService.push(selectedEstimatedTime);
            arrOfService.push(selectedImage);

            serviceList.push(arrOfService);
            
        }

        function deleteService(e) {
            event.preventDefault();
            var row = e.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        function sendServices() {
            event.preventDefault();
            if (serviceList.length <= 0) {
                alert("من فضلك اختر الخدمات اولا");
            }
            else {
                var parameters = { "arrayList": serviceList };
                console.log(parameters);
                $.ajax({
                    url: "/Account/createTable",
                    type: "POST",
                    data: JSON.stringify(parameters),
                    contentType: 'application/json',
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        console.log("valid");
                        //location.reload(true);
                    },
                    error: function () {
                        console.log("Invalid");

                        //location.reload(true);
                    }
                });
            }
        }

        $(document).ready(function() {
            $("#image").change(function() {
                var formData = new FormData();
                var totalFiles = document.getElementById("image").files.length;
                for (var i = 0; i < totalFiles; i++) {
                    var file = document.getElementById("image").files[i];
                    formData.append("image", file);
                }
                $.ajax({
                    type: "POST",
                    url: '/Account/Upload',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false
                    //success: function(response) {
                    //    alert('succes!!');
                    //},
                    //error: function(error) {
                    //    alert("errror");
                    //}
                });
            });
        }); 

    </script>    
}