@model BeautyCentersProject.ViewModel.beautyCenterViewModel


<table class="table table-striped mt-4">
    <tr>
        <th class="text-right">
            @Html.DisplayName("اسم المركز")
        </th>
        <th class="text-right">
            @Html.DisplayName("وقت الإنشاء")
        </th>
        <th class="text-right">
            @Html.DisplayName("المحافظة")
        </th>
        <th class="text-right">
            @Html.DisplayName("الحالة")
        </th>
        <th class="text-right">
            @Html.DisplayName("قبول / رفض")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.centerList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.City1)
            </td>
            @{
                if (item.IsApproved)
                {
                    <td>تم قبول المركز</td>
                }
                else
                {
                    <td> رفض المركز</td>
                }
            }

            <td>
                @Html.EnumDropDownListFor(m => item.Approvied, new { @class = "btn btn-success", onchange = "changeStatus(this,'" + item.ID + "')" })
            </td>
            <td>
                @Html.ActionLink("التفاصيل", "Details", new { id = item.ID })
            </td>
        </tr>
                }

</table>

